/* Ini file css */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav>a {
    padding: 8px;
    border: 1px solid;
    text-decoration: none;
    color: black;
}

.banner-img {
    border: 1px solid;
    height: 500px;
}

/* For future styling */
.my-profile-content {
}

/* .my-profile-content img {
    border: 1px solid;
    height: 200px;
    width: 200px;
    border-radius: 50%;
} */

/* .portfolio-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
} */

.portfolio-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.message-me-content {
    display: flex;
    justify-content: space-between;
}

.message-me-form, .message-me-output {
    width: 75%;
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
}

.message-me-form input[type="text"] {
    width: 70%;
}

.message-me-form textarea {
    width: 90%;
    padding: 5px;
}

footer {
    text-align: center;
}